@font-face {
    font-family: "Raleway", sans-serif;
    src: url(Raleway-ExtraLight.ttf);
}
body{
    font-family: "Raleway", sans-serif;
}

#bloc-page{
    width: 70%;
    margin: auto;
}
#logo img{
    width: 140px;
    height: 60px;
    float: left;
}

ul{
    list-style: none;
    padding: 0px;
}

.puce{
    margin-left: 62%;
    padding-top: 2%;
        
}
ul.puce li{
    display: inline;
    margin-left: 17%;
    font-weight: bold;
}
.puce a{
    text-decoration: none;
    color: #0065FC;
}
.puce a:visited{
    color: black;
}
#titre_principal h1{
    font-size: 1.6em;
}
#titre_principal p{
    font-size: 1.2em;
}


.search {
    padding-top: 2.2%;  
}
#test{
    border-top: solid;
    border-bottom: solid;
    border-width: thin;
    border-right-style: none;
    padding: 0.85%;
    padding-right: 10%;
    border-color: #F2F2F2;   
}
.search i, p{
    display: inline;
        
}
.search i{
    padding: 1%;
    margin-right: -0.3%;
    background-color: #F2F2F2;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
      
}

.search strong {
    margin-left: 15px;
}
.search span{
    color: white;
    border-left: solid;
    border-width: thin;
    padding: 0.9%;
    background-color: #0065FC;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: bold;
    
}

.filtre, li{
    border-style: none;
}
.filtre *{
    display: inline;
    margin-top: 50px;
}
.filtre i{
    color: #0065FC;
    width: 40px;
    background-color: #DEEBFF;
    border-radius: 30px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 20px;
}
.filtre li{
    margin-left: 40px;
    border:solid;
    border-width: 2px;
    border-color: #F2F2F2;
    border-radius: 25px;
    padding: 15px 25px 15px 0px;
}
.filtre p{
    padding-left: 10px;
    font-weight: bold;
}

.loge{
    margin-top: 2.5%;
}
.loge i{
    color: white;
    border: solid;
    border-color: black;
    border-width: thin;
    border-radius: 9px;
    background-color: blue;
}
.allm{
    display: flex;
    
}

article{
    margin-top: 2.5%;
    border: none;
    border-width: thin;
    border-radius: 1.5em;
    background-color: #F2F2F2;
    padding: 0.1em 2em 6em 2em;
    width: 55em;
}
#hebergement{
    padding-left: 3%;
    margin-bottom: 3%;
    font-size: 1.5em;
}
.section1 img{
    border-top-left-radius: 1.7em;
    border-top-right-radius: 1.7em;
    width: 15em;
    height: 7em;
    object-fit: cover;
}

.cannebiere{
    background-color: white;
    padding: 5px;
    border: none;
    border-radius: 1.7em;
    box-shadow: 1px 1px 4px grey;
}

.mer{
    background-color: white;
    padding: 5px;
    border: none;
    border-radius: 1.7em;
    margin-bottom: 6%;
    box-shadow: 1px 1px 4px grey;
}

#content{
    display: flex;
    justify-content: space-around;
}
#hb{
    display: flex;
    justify-content: space-around;
    padding-top: 2.5em;
}
.fas.fa-star{
    color: #0065FC;
}
.txt{
    padding-left: 6%;
    padding-bottom: 3%;
    padding-top: 1%;
}
.texte{
    font-weight: bold;
    font-size: 1.1em;
}

#Afficher{
    padding-left: 3%;
    padding-top: 5%;
    font-weight: bold;
    font-size: 1.3em;
}
aside{
    margin-top: 1.7%;
    margin-left: 3%;
    border: none;
    border-width: thin;
    border-radius: 1.5em;
    background-color: #F2F2F2;
    padding: 0.1em 2em 1em 2em;
    width: 55em;
}
aside img{
    border-top-left-radius: 1.7em;
    border-bottom-left-radius: 1.7em;
    width: 10em;
    height: 10em;
    object-fit: cover;
    
}
#populaires{
    font-size: 1.5em;
}
.popu{
    display: flex;
    justify-content: space-between;
    margin-bottom: -4.7%;
}
.fas.fa-chart-line{
    font-size: 2em;
    margin-top: 6%;
}
.soleil{
    background-color: white;
    border: none;
    border-radius: 1.7em;
    padding: 0px 0px 1.1% 1.7%;
    margin-bottom: 5%; /*à changer à la fin*/
    box-shadow: 1px 1px 4px rgb(175, 171, 171);
}
.soleil img{
    padding-top: 6.5px;
    float: left;
}
.bol{
    display: block;
    font-weight: bold;
    font-size: 1.3em;
    padding-left: 49%;
    margin-bottom: 2%;    
}
.nuit{
    padding-left: 5%;
}
.popucontent{
    padding-top: 6%;
    padding-right: 13%;
}
.popucontent i{
    padding-top: 14%;
}
.star{
    margin-left: 50%;
    padding-top: 3.5%;
}
