@font-face {
    font-family: "Raleway-Thin", sans-serif;
    src: url(Raleway-Thin.ttf);
}
body{
    font-family: "Raleway-Thin", sans-serif;
}

#bloc-page{
    width: 1750px;
    margin: auto;
}
#logo img{
    width: 140px;
    height: 60px;
    float: left;
}

ul{
    list-style: none;
}

.puce{
    margin-left: 60%;
        
}
ul.puce li{
    display: inline;
    margin-left: 20%;
}
.puce a{
    text-decoration: none;
    color: #0065FC;
}
.puce a:visited{
    color: black;
}
#titre_principal h1{
    padding-top: 2.7em;
    font-size: 1.6em;
}
#titre_principal p{
    font-size: 1.2em;
}


.search {
    margin-top: 20px;
    margin-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;    
}
#test{
    border-top: solid;
    border-bottom: solid;
    border-width: thin;
    border-right-style: none;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 15%;
    border-color: #F2F2F2;    
}
.search i, p{
    display: inline;
        
}
.search i{
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 18px;
    background-color: #F2F2F2;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding-left: 10px;   
}

.search, strong {
    margin-left: 15px;
}
.search span{
    color: white;
    border-left: solid;
    border-width: thin;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 18px;
    background-color: #0065FC;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

.filtre, li{
    border-style: none;
}
.filtre *{
    display: inline;
    margin-top: 50px;
}
.filtre i{
    padding-left: 13px;
    color: #0065FC;
    width: 30px;
    background-color: #DEEBFF;
    border-radius: 20px;
    padding-top: 13px;
    padding-bottom: 13px;
}
.filtre li{
    margin-left: 50px;
    border:solid;
    border-width: 2px;
    border-color: #F2F2F2;
    border-radius: 20px;
    padding: 10px 10px 10px 0px;
}
.filtre p{
    padding-left: 10px;
    font-weight: bold;
}

.loge{
    margin-left: 23px;
    margin-top: 60px;
}
.loge i{
    color: white;
    border: solid;
    border-color: black;
    border-width: thin;
    border-radius: 9px;
    background-color: blue;
}


.section1 {
    border: none;
    border-width: thin;
    border-radius: 1.5em;
    background-color: #F2F2F2;
    padding-top: 3em;
    width: 1000px;
}
.section1 img{
    border-top-left-radius: 1.7em;
    border-top-right-radius: 1.7em;
    width: 225px;
    height: 150px;
}

.cannebiere{
    background-color: white;
    padding: 8px 8px 8px 8px;
    border: none;
    border-radius: 1.7em;
}

.mer{
    background-color: white;
    padding: 8px 8px 8px 8px;
    border: none;
    border-radius: 1.7em;
}

#content{
    display: flex;
    justify-content: space-around;
}
#hb{
    display: flex;
    justify-content: space-around;
    padding-top: 2.5em;
}